.banner{
    margin-top: 8rem;
}
.row{
    display: flex;
    align-items: center;
}
.banner-content-left{
    font-family: "TTNorms";
    flex-basis: 50%;
}
.banner-content-wrapper{
    max-width: 28rem;
}
.banner-content-left h1{
    color: #081D43;
}
.banner-content-left p{
    color: #6C7890;
}
.button-banner{
    display: flex;
    
}
.button-banner a{
    display: block;
    width: 8rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    background-color: #0050c8c4;
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
    margin-top: 1rem;
}
.button-banner a:nth-child(2):hover{
    background-color: #0050c8;
}
.button-banner a:nth-child(1){
    background-color: #87bc25cb;
    transition: .2s;
}
.button-banner a:nth-child(1):hover{
    background-color: #87bc25;
}
.banner-content-right{
    flex-basis: 50%;
}
.button-banner{
}
.right-button{

}
.left-button{

}
.banner-content-right{

}
.banner-img{
    width: 100%;
}