.person-comments{
    background-color: #2860F0;
}
.container{
    text-align: center;
    padding: 2rem 0;
}
.person-comments-title{
    color: #fff;
}
.person-comments-text{
    color: #fff;
}
.comments-content{
    display: flex;
}
.comment-box{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: center;
    margin: 1.2rem;
    border-radius: .5rem;
    flex-basis: 20rem;
}
.comment-body{
    font-size: .8rem;
    color: #6C7890;
    padding: 0 .9rem;
    text-align: left;
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    min-height: 15rem;
    height: 8rem;
}
.comment-footer{
    display: flex;
    align-items: center;
    justify-content: start;
    border-top: 1px solid #ccc;
    padding: 0 1.2rem;
}
.comment-footer img{
    margin-right: 1rem;
}
.comment-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.comments-container{
    max-width: 70rem;
    margin: 3.5rem auto;
    justify-content: center;
}
.logo-item{
    display: block;
    margin-right: 5.5rem;
}