.header{
    font-family: "TTNorms";
}
.topnav{
    display: flex;
    align-items: center;
}
.nav-logo{
    /* padding-left: 50px; */
}
.menu{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}
ul li a{
    text-decoration: none;
    color: #081D43;
    padding: 0 1rem;
}
.nav-btn{

}